@using Library.Services
@using System.ComponentModel
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserSession UserSession
@implements IDisposable

<div class="page" style="background-image: url('/CSS/fon.jpg');">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center" style="background-color: #f5ebe0;">
            <div class="search-bar d-flex align-items-center">
                <input type="text"
                       placeholder="Поиск книги..."
                       style="padding: 0.4rem; border: 1px solid #370617; border-radius: 4px; font-size: 0.9rem; width: 200px;" />
                <button style="margin-left: 0.5rem; padding: 0.4rem 0.8rem; border: none; background-color: #370617; color: white; border-radius: 4px;">
                    Найти
                </button>

            </div>
            
            <div class="d-flex align-items-center">
<Component />            </div>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    protected override void OnInitialized()
    {

        UserSession.PropertyChanged += OnSessionChanged;
    
    }
    protected override async Task OnInitializedAsync()
    {
        await UserSession.InitializeAsync();
    }
    private void OnSessionChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UserSession.PropertyChanged -= OnSessionChanged;
    }

}
