@inherits LayoutComponentBase

<div class="page" style="background-image: url('/CSS/fon.jpg');">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center" style="background-color: #f5ebe0;">
            <div class="search-bar d-flex align-items-center">
                <input type="text"
                       placeholder="Поиск книги..."
                       style="padding: 0.4rem; border: 1px solid #370617; border-radius: 4px; font-size: 0.9rem; width: 200px;" />
                <button style="margin-left: 0.5rem; padding: 0.4rem 0.8rem; border: none; background-color: #370617; color: white; border-radius: 4px;">
                    Найти
                </button>
            </div>

            <div class="d-flex align-items-center">
                <a href="/login"
                   style="padding: 0.4rem 1rem; border-radius: 4px; font-size: 0.9rem;
                          margin-right: 10px; border: 1px solid #370617;
                          background-color: white; color: #370617;">
                    Вход
                </a>
                <a href="/register"
                   style="padding: 0.4rem 1rem; border-radius: 4px; font-size: 0.9rem;
                          background-color: #370617; color: white; border: 1px solid #370617;">
                    Регистрация
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>