@page "/login"
@rendermode InteractiveServer
@using System.Globalization
@using Library.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject UserSession UserSession
@inject ILogger<Login> Logger
@inject ApiService ApiService
@inject NavigationManager Navigation
@inject ProtectedLocalStorage LocalStorage
<div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card p-4" style="width: 300px;">
        <h3 class="text-center">Вход</h3>

        <form @onsubmit="HandleLogin">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" @bind="Email" type="email" required maxlength="100" style="width: 250px;" autocomplete="username" />
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" @bind="Password" required minlength="6" maxlength="20" style="width: 250px;" autocomplete="current-password" />
            </div>

            <button type="submit" class="btn btn-primary w-100" style="margin-top: 10px;">Войти</button>
        </form>
    </div>
</div>

@code {
    private string Email = "";
    private string Password = "";

    private async Task HandleLogin()
    {
        if (string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(Password))
        {
            Console.WriteLine("Введите email и пароль.");
            return;
        }

        var result = await ApiService.LoginAsync(new LoginDto
        {
            Email = Email,
            Password = Password
        });

        if (result)
        {
            Console.WriteLine("Вход выполнен.");
            await UserSession.LoginAsync(Email);
            Navigation.NavigateTo("/", forceLoad: true);

        }
        else
        {
            Console.WriteLine("Ошибка входа. Проверьте email и пароль.");
        }
    }

}

