@page "/register"
@rendermode InteractiveServer
@using System.Globalization
@inject ApiService ApiService
@inject NavigationManager Navigation
<div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card p-4" style="width: 300px;">
        <h3 class="text-center">Регистрация</h3>

        <form @onsubmit="HandleRegister">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" @bind="Email" type="email" required maxlength="100" style="width: 250px;" autocomplete="username" />
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" @bind="Password" required minlength="6" maxlength="20" style="width: 250px;" autocomplete="new-password" />
            </div>

            <div class="form-group">
                <label>Подтвердите пароль</label>
                <input type="password" class="form-control" @bind="ConfirmPassword" required minlength="6" maxlength="20" style="width: 250px;" autocomplete="new-password" />
            </div>

            <button type="submit" class="btn btn-success w-100" style="margin-top: 10px;">Зарегистрироваться</button>
        </form>
    </div>
</div>


@code {
    private string Email = "";
    private string Password = "";
    private string ConfirmPassword = "";

    private async Task HandleRegister()
    {
        if (string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(Password) || string.IsNullOrWhiteSpace(ConfirmPassword))
        {
            Console.WriteLine("Заполните все поля.");
            return;
        }

        if (Password != ConfirmPassword)
        {
            Console.WriteLine("Пароли не совпадают.");
            return;
        }

        var result = await ApiService.RegisterAsync(new RegisterDto
        {
            Email = Email,
            Password = Password,
            ConfirmPassword = ConfirmPassword
        });

        if (result)
        {
            Console.WriteLine("Регистрация прошла успешно.");
            Navigation.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine("Ошибка при регистрации.");
        }
    }
}